@utility cont-px {
  @apply px-4 sm:px-10 lg:px-20 2xl:px-28;
}

@utility boxShadow {
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
}

@utility blueGradient {
  @apply bg-linear-to-r from-blue-dark to-blue-sharp;
}

@utility textGradient {
  @apply blueGradient  text-transparent bg-clip-text;
}

@utility gradHeading {
  @apply w-fit textGradient font-extrabold uppercase text-[2rem] xl:text-4xl 2xl:text-[36px];
}

@utility heroPara {
  @apply text-sm min-[480px]:text-base min-[800px]:text-xl 2xl:text-[22px] leading-[150%];
}

@utility heroHeading {
  @apply font-extrabold text-[2rem] min-[450px]:text-5xl sm:text-6xl lg:text-[4rem] 2xl:text-7xl;
}

@utility contentPara {
  @apply text-sm sm:text-base 2xl:text-lg font-normal leading-[150%];
}
