@import "tailwindcss";
@import "./styles/fonts.css";
@import "./styles/utilities.css";

@theme {
  --color-blue-deep: #001d35;
  --color-blue-dark: #00315c;
  --color-blue-sharp: #00b3ff;
  --color-blue-light: #f1f5f7;
  --color-gray-light: #BFBFBF;
  --breakpoint-xs: 30rem;
}

:focus-visible {
  @apply outline-none ring-2 ring-blue-sharp rounded-sm ring-offset-2;
}

:focus:not(:focus-visible) {
  outline: none;
}

@layer base {
  body {
    font-family: Proxima Nova, sans-serif;
    @apply text-blue-dark min-h-screen tracking-[0%];
  }
  section {
    @apply cont-px;
  }
  input,
  textarea {
    @apply bg-blue-light rounded-lg px-6 py-5 placeholder:text-black/25 w-full focus:outline-1 outline-blue-sharp hover:outline-1;
  }
}

.gradButton {
  @apply blueGradient max-w-50 md:max-w-70 rounded-xl overflow-hidden;
}

.buttonStyle {
  @apply font-semibold text-white uppercase text-xs md:text-base bg-transparent group-hover:bg-blue-deep group-active:bg-blue-deep flex justify-center items-center py-3 md:py-4 gap-x-2 transition-all duration-300;
}

.navLinkActive > div {
  @apply w-full;
}

.hero {
  @apply bg-[url('bg-img.webp')] bg-cover bg-center rounded-4xl py-16 xl:py-18 2xl:py-20;
}
.heroHomeHeading p span {
  @apply text-blue-sharp italic;
}

.blueCard {
  @apply flex items-center justify-center rounded-bl-2xl rounded-br-2xl shadow-2xl w-46 2xl:w-50 h-24.5 2xl:h-28 absolute -top-1.25 boxShadow;
}
.overlayBox {
  @apply w-6.75 h-71.25 2xl:h-74 bg-linear-to-br from-black to-black/0 hidden sm:block absolute top-0 left-0 mix-blend-overlay;
}

.imgTextSec {
  @apply flex flex-wrap justify-center lg:flex-nowrap lg:justify-between items-center gap-12 mb-20 2xl:mb-28;
}

/* ---- Subsidiaries Card grid styling ---- */

.gridStyle > * {
  @apply rounded-2xl;
}

@media (min-width: 640px) and (max-width: 1023px) {
  .gridStyle > * {
    @apply rounded-none;
  }
  .gridStyle > :nth-child(2n + 1) {
    @apply rounded-tl-2xl rounded-bl-2xl;
  }
  .gridStyle > :nth-child(2n) {
    @apply rounded-tr-2xl rounded-br-2xl;
  }
  .gridStyle > :nth-child(2n + 1) .overlayBox {
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .gridStyle > * {
    @apply rounded-none;
  }
  .gridStyle > :nth-child(3n + 1) {
    @apply rounded-tl-2xl rounded-bl-2xl;
  }
  .gridStyle > :nth-child(3n) {
    @apply rounded-tr-2xl rounded-br-2xl;
  }
  .gridStyle > :last-child {
    @apply rounded-tr-2xl rounded-br-2xl;
  }
  .gridStyle > :nth-child(3n + 1) .overlayBox {
    display: none;
  }
}

@media (min-width: 1280px) {
  .gridStyle > * {
    @apply rounded-none;
  }
  .gridStyle > :nth-child(4n + 1) {
    @apply rounded-tl-2xl rounded-bl-2xl;
  }
  .gridStyle > :nth-child(4n) {
    @apply rounded-tr-2xl rounded-br-2xl;
  }
  .gridStyle > :nth-child(4n + 1) > .overlayBox {
    display: none;
  }
}
