@import "tailwindcss";

@theme {
  --color-blue-dark: #00315c;
  --color-blue-sharp: #00b3ff;
  --color-blue-light: #f1f5f7;
  --breakpoint-xs: 30rem;
}

@font-face {
  font-family: "proxima-nova";
  src: url("./assets/Fonts/Proxima-Nova-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "proxima-nova";
  src: url("./assets/Fonts/Proxima-Nova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "proxima-nova";
  src: url("./assets/Fonts/proximanova-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "proxima-nova";
  src: url("./assets/Fonts/Proxima-Nova-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@utility cont-px {
  @apply px-4 sm:px-10 md:px-20 xl:px-28;
}

@utility boxShadow {
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
}

@utility blueGradient{
@apply bg-linear-to-r from-blue-dark to-blue-sharp;
}

@utility textGradient{
  @apply blueGradient  text-transparent bg-clip-text;
}

@layer base {
  body {
    font-family: proxima-nova, sans-serif;
    @apply text-blue-dark;
  }
}

@layer utility {

  .buttonStyle{
    @apply font-semibold text-white uppercase text-sm sm:text-base blueGradient flex justify-center items-center rounded-xl py-4 gap-x-2;
  }

  .hero {
    @apply bg-[url('bg-img.webp')] bg-cover bg-center rounded-4xl cont-px py-16 xl:py-18;
  }
  .hero-heading {
    @apply text-3xl xs:text-4xl md:text-[3.375rem] xl:text-6xl font-extrabold;
  }
  .hero-heading p span {
    @apply text-blue-sharp italic;
  }

  .subHeading{
    @apply w-fit textGradient font-extrabold uppercase text-[2rem] xl:text-4xl;
  }

  .contentPara{
    @apply text-base 2xl:text-lg font-normal leading-[150%]
  }

  .blueCard {
    @apply  flex items-center justify-center rounded-bl-2xl rounded-br-2xl shadow-2xl max-w-52 min-w-27.5 max-h-30 min-h-24.5 w-full h-full absolute -top-1.25 -translate-x-1/2  left-1/2 boxShadow ;
  }
  .overlayBox {
    @apply w-6.75 h-71.25 bg-linear-to-br from-black to-black/0 absolute top-0 left-0 mix-blend-overlay;
  }

  .imgTextSec{
    @apply cont-px flex flex-wrap justify-center lg:flex-nowrap lg:justify-between items-center gap-12 mb-20;
  }

  .contactForm input,
  .contactForm textarea{
    @apply bg-blue-light rounded-lg px-6 py-5 placeholder:text-black/25 w-full
  }
}
